body {
  font-family: Open Sans,Roboto,Helvetica Neue,Arial,sans-serif;
}

.navbar {
  padding-top: .25rem;
  padding-bottom: .25rem;
  z-index: 100;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
}

.navbar__fixed {
  color: #555;
  background: #fff;
  -webkit-box-shadow: 0 3px 0 rgba(20, 97, 255, 0.15);
          box-shadow: 0 3px 0 rgba(20, 97, 255, 0.15);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1040;
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.navbar__link {
  color: #9b9b9b;
  font-size: .9375rem;
}

.navbar--button {
  background: blue;
  color: #fff;
  padding-top: 2px;
  width: 90px;
  height: 30px;
  max-height: 25px;
  background: #01bcd4;
  border-color: #01bcd4;
  cursor: pointer;
  border-radius: 2px;
  line-height: 21px;
  font-size: .9375rem;
  text-align: center;
  display: block;
}

.banner {
  position: relative;
  background-blend-mode: normal;
  background: url("../images/banner/next-event.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 90vh;
}

.daily {
  background: #faf9f7;
}

.daily h5 {
  color: #9b9b9b;
  font-family: 'Fira Sans',sans-serif;
  font-weight: 600;
}

.daily__input {
  border: 1px solid grey;
  padding: .5rem .75rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: .25rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #000;
}

.daily__button {
  padding: .625rem 1.25rem;
  background: #01bcd4;
  border-color: #01bcd4;
  color: #fff;
  border-radius: .25rem;
}

.welcome h3 {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 600;
}

.pst-img img {
  height: 525px;
}

.events {
  background: url("../images/bg3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.events__content {
  position: relative;
  bottom: 150px;
}

.events__titlebox h1 {
  font-size: 45px;
  color: #f8f7f7;
  display: inline-block;
  vertical-align: middle;
  width: 78%;
  font-family: 'Fira Sans',sans-serif;
  font-weight: 600;
  line-height: 1;
}

.events__titlebox--date {
  display: inline-block;
  color: #f8f7f7;
  font-size: 16px;
  border: 2px solid;
  border-radius: 4px;
  padding: 12px;
  vertical-align: middle;
  width: 14%;
  margin-right: 35px;
  border-color: #01bcd4;
}

.events__titlebox--date strong {
  font-size: 42px;
  display: block;
  font-weight: 900;
  line-height: 36px;
  margin-bottom: 3px;
}

.events__bottomVideo--blackarea {
  background-color: #ffffff;
  width: 50%;
  padding: 24px 30px 14px;
  min-height: 88px;
  position: relative;
}

.events__bottomVideo--blackarea::before {
  content: "";
  height: 44px;
  width: 6px;
  background-color: #ffffff;
  position: absolute;
  right: -3px;
  top: 0;
  border-radius: 0 100% 100% 0;
  z-index: 2;
}

.events__bottomVideo--blackarea span {
  color: #01bcd4;
}

.events__bottomVideo--orangearea {
  background-color: #01bcd4;
  width: 50%;
  padding: 18px 0px;
  min-height: 88px;
  position: relative;
}

.events__bottomVideo--orangearea::before {
  content: "";
  height: 44px;
  width: 6px;
  position: absolute;
  left: -2px;
  bottom: 0;
  border-radius: 100% 0 0 100%;
}

.events__bottomVideo--orangearea--countdown {
  position: relative;
  right: 0;
  top: 0;
  width: auto;
  height: auto;
}

.events__bottomVideo--orangearea--countdown li span {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  padding-left: 5px;
}

.sermons h4 {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 600;
}

.sermons__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1.5fr;
      grid-template-columns: 1fr 1fr 1.5fr;
  width: 100%;
  gap: 1rem;
}

.sermons__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (minmax(100px, 100px))[auto-fill];
      grid-template-rows: repeat(auto-fill, minmax(100px, 100px));
  gap: 1rem;
  width: 100%;
}

.default-border-color {
  border: 1px solid #e0e0e0;
}

.f-events h4 {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 600;
}

.f-events__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(220px, 300px))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(220px, 300px));
  width: 100%;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.hover\:lift {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.hover\:lift:hover {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

.connect h4 {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 600;
}

.connect__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(220px, 350px))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(220px, 350px));
  width: 100%;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.footer {
  background: #efefef;
}

.footer__link {
  color: #4a4a4a;
  font-weight: 300;
}

.footer__block {
  width: 100%;
  max-width: 226px;
}
/*# sourceMappingURL=main.css.map */